:root {
    color-scheme: light dark;

    /* font families */
    --font-family-monospace: ui-monospace;

    /* colors */
    --color-blockquote-background: rgba(0 0 0 / 5%);
    --color-body: text;
    --color-body-background: -apple-system-text-background;
    --color-border: -apple-system-container-border;
    --color-grid: -apple-system-grid;
    --color-pre-background: -apple-system-grid;
    --color-header-text: -apple-system-header-text;

    /*
    --color-link: rgb(0 104 218);
    --color-link-visited: -apple-system-purple;
    --color-link-active: -apple-system-green;
    */
    --color-link: linktext;
    --color-link-visited: visitedtext;
    --color-link-active: activetext;
    --color-label: -apple-system-label;
    --color-secondary-label: -apple-system-secondary-label;
    --color-tertiary-label: -apple-system-tertiary-label;
    --color-newsfoot-background: canvas;
    --color-newsfoot-secondary-background: -apple-system-secondary-background;
    --color-newsfoot-popover-background: -apple-system-tertiary-label;
    --color-newsfoot-popover-hover-background: -apple-system-quaternary-label;
    --color-navbar: -apple-system-control-background;
    --color-primary-accent: #086aee;
    --color-secondary-accent: #086aee;
    --color-onion-green: rgb(0 107 54);
}

html {
    --font-family-body: ui-sans-serif;
    --font-family-callout: var(--font-family-title);
    --font-family-caption: var(--font-family-title);
    --font-family-footnote: var(--font-family-title);
    --font-family-headline: var(--font-family-title);
    --font-family-subheadline: var(--font-family-title);
    --font-family-title: var(--font-family-body);

    font-family: var(--font-family-body);
    font-size: 16px;
}

html.nnwNewsArticle {
    --font-family-body: ui-serif;
    --font-family-title: ui-sans-serif;
}

html.nnwPost {
    --font-family-body: ui-rounded;
    --font-family-title: ui-rounded;
}

body {
    font: var(--font-body);
    font-family: var(--font-family-body);
    margin: 20px auto 64px;
}

font {
    font: inherit !important;
}

.nnwArticle body {
    font-feature-settings:
        "ss01", "ss02", "ss04"; /* Straight-sided 6 and 9, Open four, Open currencies */
}

.nnwNewsArticle body {
    font-feature-settings: normal;
    font-variant-numeric: oldstyle-nums;
}

h1 {
    font: var(--font-title1);
    font-family: var(--font-family-title);
}

h2 {
    font: var(--font-title2);
    font-family: var(--font-family-title);
}

h3 {
    font: var(--font-title3);
    font-family: var(--font-family-title);
}

h4 {
    font: var(--font-headline);
    font-family: var(--font-family-title);
}

h5 {
    font: var(--font-subheadline);
    font-family: var(--font-family-title);
}

h6 {
    font: var(--font-footnote);
    font-family: var(--font-family-title);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    clear: both;
    color: var(--color-header-text);
    font-stretch: extra-condensed;
    text-wrap: balance;
}

tt,
code,
kbd,
samp,
pre,
xmp,
plaintext,
listing {
    font-family: var(--font-family-monospace);
}

tt,
code,
kbd,
samp {
    background-color: var(--color-pre-background);
}

pre {
    background-color: var(--color-pre-background);
    padding: 1em 2ch;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    white-space: pre;
    overflow: auto;
    overflow-y: hidden;
    word-wrap: normal;
    word-break: normal;
}

img,
figure,
video,
div,
object {
    max-width: 100%;
    height: auto !important;
}

a:link {
    color: var(--color-link);
    text-decoration: none;
    overflow-wrap: break-word;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: var(--color-link-active);
}

a:visited {
    color: var(--color-link-visited);
}

header {
    font: var(--font-headline);
    font-family: var(--font-family-headline);
    margin-block-end: 1em;
    text-wrap: balance;
}

:is(.comicskingdom-com, .gocomics-com, .ohjoysextoy-com, .smbc-comics-com, .xkcd-com)
    :is(#navbar, #nnwArticle) {
    max-width: 100%;
}

footer,
.articleFooter,
div.footnote,
#footnotes,
.footnotes,
.footnotes ~ *,
.twitterTimestamp,
ol:is(.footnote, .wp-block-footnotes),
ol:has(li.footnote) {
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    margin-block-start: 1em;
    color: var(--color-secondary-label);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

footer,
.articleFooter,
div.footnote,
#footnotes,
.footnotes,
ol.footnote,
ol:has(li.footnote) {
    /* border-block-start: thin solid var(--color-border); */
}

.nilcoalescing-com .articleBody > h1:first-child {
    display: none;
}

:is(footer, .articleFooter, div.footnote, #footnotes, .footnotes) h1 {
    font: var(--font-headline);
    font-family: var(--font-family-headline);
}

:is(footer, .articleFooter, div.footnote, #footnotes, .footnotes) :is(h3, h4, h5, h6) {
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
}

:is(footer, .articleFooter, div.footnote, #footnotes, .footnotes) :is(h1, h2, h3, h4, h5, h6) {
    border-block-end: none;
    font-weight: 700;
    color: var(--color-header-text);
}

blockquote,
.wp-block-quote {
    margin-inline: 0;
    padding-inline: 15px;
    border-inline: 3px solid var(--color-border);
    color: var(--color-label);
    background-color: var(--color-blockquote-background);
}

hr {
    border: 0;
    border-block-end: 1px solid var(--color-border);
}

figure {
    margin-inline: 0;
}

figure:not([class~="code"]) *,
figure:not([class~="code"]),
figcaption,
.caption {
    color: var(--color-secondary-label);
    font: var(--font-caption1);
    font-family: var(--font-family-caption);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

figure:not([class~="code"]) :is(em, i, cite) {
    font-style: italic;
}

audio {
    width: 100%;
}

figure figcaption {
    margin-block-start: 8px;
}

.caption:has(+ .credit) {
    margin-block-end: calc(1lh - 1em);
}

div,
p,
img,
iframe {
    max-width: 100%;
}

img,
iframe {
    margin: 0 auto;
}

iframe[src*="youtube.com"] {
    display: block;
}

.credit {
    font-style: italic;
}

.p-fullbleed-block,
figure.e-image {
    text-align: center;
}

figure.e-image figcaption {
    text-align: initial;
}

figure img {
    display: block;
}

figure cite {
    color: var(--color-secondary-label);
    display: block;
    text-align: initial;
}

article,
nav {
    margin-inline: auto;
    max-width: 42em;
    padding-inline: clamp(20px, calc(calc(100vw - 42em) + 20px), 48px);
}

article header {
    color: var(--color-label);
    font: var(--font-subheadline);
    font-family: var(--font-family-subheadline);
}

:is(article, nav) :is(article, nav) {
    padding-inline: 0;
}

nav a:hover {
    color: var(--color-link);
}

nav a:link {
    color: inherit;
}

nav div.byline {
    display: none;
}

.nnwComicStrip nav span.feed_title {
    font-weight: 800;
}

.nnwComicStrip nav div.byline {
    display: initial;
    float: right;
}

article header a:hover {
    color: var(--color-link);
}

article header a:link {
    color: inherit;
}

article header .externalLink {
    clear: both;
    color: var(--color-secondary-label);
    font-style: italic;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

article header .externalLink a {
    font-family: var(--font-family-monospace);
    font-size: 0.85em;
    font-weight: 400;
    color: var(--color-link);
}

article footer .dateline a:hover {
    color: var(--color-link);
}

article footer .dateline a:link {
    color: inherit;
}

article footer #comicDateline {
    display: none;
}

.headerGrid {
    display: grid;
    grid-template-columns: auto 32px;
    grid-row-gap: 8px;
    margin-block: 8px;
}

nav {
    font: var(--font-headline);
    font-family: var(--font-family-headline);
    font-stretch: expanded;
    font-weight: 300;
    overflow: hidden;
    margin-block: 20px;

    /*
    margin: 20px;
    text-align: center;
     */
}

nav .favicon {
    max-height: 24px;
    margin-inline-end: 4px;
}

nav .feedlink {
    display: inline-flex;
}

.headerGrid > .feedlink {
    border-block-end: 1px solid var(--color-border);
}

article header .feedlink.articleHidden {
    display: inline;
}

article header .avatar {
    display: inline-block;
    float: inline-end;
    max-width: 48px;
    margin-inline-start: 8px;
    margin-block-end: 4px;
}

.nnwComicStrip article header {
    display: none;
}

.headerGrid .avatar {
    max-width: 24px;
    margin-inline-start: 0;
    padding-inline-start: 8px;
    margin-block-end: 0;
    padding-block-end: 8px;
    float: none;
    border-block-end: 1px solid var(--color-border);
}

.nnwPost .postHidden,
:is(.nnwArticle, .nnwNewsArticle) .articleHidden {
    display: none !important;
}

.nnwPost article header .avatar {
    float: inline-start;
    margin: 0 8px 0 0;
}

article header h1.articleTitle {
    margin-block: 0;
    color: var(--color-label);
}

.headerGrid > h1.articleTitle {
    grid-column: 1 / span 2;
}

:is(.nnwArticle, .nnwNewsArticle) article header :is(.feedlink, .articleTitle)::after,
.nnwPost article header :is(.feedlink)::before {
    content: "\a";
    white-space: pre-wrap;
}

@media screen and (width <= 700px), screen and (height <= 700px) {
    .nnwPost article header :is(.feedlink)::before {
        content: "";
        white-space: initial;
    }
}

article header :is(.feedlink, .byline) {
    font-weight: 500;
}

.nnwPost article header .feedlink {
    font: var(--font-subheadline);
    font-family: var(--font-family-subheadline);
    color: var(--color-secondary-label);
    font-weight: 400;
}

.nnwPost blockquote {
    padding: 1em 2ch;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    overflow: auto;
    overflow-y: hidden;
    word-wrap: normal;
    word-break: normal;
}

article header :is(.byline, .dateline) {
    display: inline-block;
}

article header .byline {
    margin-inline-end: 8px;
}

.nnwPost article header .byline {
    font: var(--font-headline);
    font-family: var(--font-family-headline);
}

article header .dateline {
    float: inline-end;
    margin-inline-start: 8px;
    color: var(--color-secondary-label);
}

@media screen and (width <= 700px), screen and (height <= 700px) {
    article header :is(div.byline, div.dateline, div.externalLink) {
        display: block !important;
        float: none !important;
        margin: 0 !important;
    }
}

pre small.shcb-language {
    float: inline-end;
    color: var(--color-secondary-label);
    font: var(--font-footnote);
    font-family: var(--font-family-monospace);
}

pre small.shcb-language :is(.shcb-language__label, .shcb-language__paren, .shcb-language__slug) {
    display: none;
}

/* Newsfoot theme */
body a.footnote {
    margin-inline-start: 5px;
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    line-height: 1em;
    background: var(--color-newsfoot-popover-hover-background);
    color: var(--color-body);
    transition: background-color 200ms ease-out;
}

.newsfoot-footnote-popover + a.footnote {
    background: var(--color-newsfoot-popover-background);
    transition: background-color 200ms ease-out;
}

body a.footnote:visited {
    margin-inline-start: 5px;
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    line-height: 1em;
    background: var(--color-newsfoot-popover-hover-background);
    color: var(--color-body);
    transition: background-color 200ms ease-out;
}

body a.footnote:hover {
    background: var(--color-newsfoot-popover-background);
    transition: background-color 200ms ease-out;
}

.newsfoot-footnote-popover + a.footnote:hover {
    margin-inline-start: 5px;
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    line-height: 1em;
    background: var(--color-newsfoot-popover-hover-background);
    color: var(--color-body);
    transition: background-color 200ms ease-out;
}

.newsfoot-footnote-popover {
    background: var(--color-newsfoot-secondary-background);
    box-shadow:
        0 2px 4px var(--color-label),
        0 3px 6px var(--color-label);
    border: 1px solid var(--color-label);
    color: var(--color-body);
    padding: 1px;
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
}

.newsfoot-footnote-popover-arrow {
    background: var(--color-newsfoot-background);
    border-left: 1px solid var(--color-label);
    border-top: 1px solid var(--color-label);
    z-index: 2;
}

.newsfoot-footnote-popover-inner {
    background: var(--color-newsfoot-background);
}

.nnwComicStrip article footer .dateline {
    display: none;
}

.nnwComicStrip article footer .dateline#comicDateline {
    display: initial;
}

p:has(a[href*="dois-and-their-discontents"]) {
    color: var(--color-secondary-label);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
}

/****************************************************   */

.systemMessage {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-55%) translateY(-50%);
    user-select: none;
    cursor: default;
    color: var(--color-secondary-label);
    font: var(--font-title1);
    font-weight: 700;
}

/* Feedbin stuff */
.feedbin--article-wrap {
    background-color: var(--color-pre-background);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    color: var(--color-label);
    padding: 8px;
}

.feedbin--article-meta {
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    color: var(--color-secondary-label);
}

.feedbin--article-header h2 {
    border: 0;
    font: var(--font-title3);
    font-family: var(--font-family-title);
    font-weight: 500;
}

.twincities-com .articleBody > h2:has(~ ul:last-child) {
    display: none;
}

:is(footer, .articleFooter, div.footnote, #footnotes, .footnotes) h2 {
    font: var(--font-subheadline);
    font-family: var(--font-family-subheadline);
}

/* Mastadon */
.invisible {
    display: none;
}

.ellipsis::after {
    content: "…";
}

.twitter-tweet {
    margin-inline: auto;
}

.twitterAvatar {
    vertical-align: middle;
    border-radius: 4px;
    max-height: 48px;
    margin-block-end: 16px;
}

.twitterUsername {
    font: var(--font-headline);
    font-family: var(--font-family-headline);
    display: inline-block;
    vertical-align: middle;
    margin-inline-start: 8px;
    margin-block-end: 16px;
}

.twitterScreenName {
    font: var(--font-subheadline);
    font-family: var(--font-family-subheadline);
}

.twitterTimestamp {
    display: block;
    margin-block-start: 1em;

    /*
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    color: var(--color-secondary-label);
*/
}

.twitterTimestamp:link {
    color: var(--color-secondary-label);
}

.twitterTimestamp:hover {
    color: var(--color-link);
}

.articleBody {
    clear: both;
    text-wrap: pretty;
}

.articleBody > img {
    display: block;
    margin-inline: auto;
}

.articleBody :is(h1, h2, h3, h4, h5, h6) {
    margin-block-end: 0.25em;

    /*
     * this looks bad when <h3> is followed immediately by <h4>
     */

    /*
    border-block-end: thin dotted var(--color-border);
     */
}

.articleBody :is(h1, h2, h3, h4, h5, h6) + * {
    margin-block-start: 0.25em;
}

.articleBody :is(h1 + h2, h2 + h3, h3 + h4, h4 + h5, h5 + h6) {
    border-block-end: initial !important;
}

.articleBody
    :is(h1:has(+ h1), h2:has(+ h2), h3:has(+ h3), h4:has(+ h4), h5:has(+ h5), h6:has(+ h6)) {
    border-block-end: initial !important;
}

:is(h1, h2, h3, h4, h5, h6):has(+ figure) {
    border-block-end: 0 !important;
}

.debugging-table td {
    font-family: var(--font-family-monospace);
}

.debugging-table td:nth-child(1) {
    font-weight: bold;
    text-align: end;
    vertical-align: top;
}

.center-wrap {
    margin-inline: auto;
    text-align: center;
}

article table,
article figure:not([class~="code"]) {
    color: var(--color-secondary-label);

    /* enable "high legibility" in SF font */
    font: var(--font-caption1);
    font-family: var(--font-family-caption);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

article table {
    border: 1px solid var(--color-border);
    border-collapse: collapse;
    width: auto !important;
}

article table th {
    color: var(--color-header-text);
    background-color: var(--color-odd-alternating-content-background);
}

thead {
    border-block-end: 1px solid var(--color-grid);
}

article table tbody tr:nth-child(odd) {
    background-color: var(--color-odd-alternating-content-background);
}

article table tbody tr:nth-child(even) {
    background-color: var(--color-even-alternating-content-background);
}

article table :is(td, th) {
    padding-inline: 5px;
    padding-block: 2px;
}

article table[frame~="void"] {
    border: none;
}

:is(.comicskingdom-com, .gocomics-com, .ohjoysextoy-com, .smbc-comics-com, .xkcd-com) figure img {
    margin: auto 0;
}

.ohjoysextoy-com .post-mood img {
    border-radius: 4px;
    padding: 2px 0 0;
}

.theonion-com .gridible-row {
    display: grid;
    grid-template-columns: auto auto;
    font: var(--font-callaout);
    font-family: var(--font-family-callout);
    color: var(--color-secondary-label);
    place-content: flex-start;
}

/* TOO BROAD
.arstechnica-com p:has(> em:only-child) {
font: var(--font-footnote);
font-family: var(--font-family-footnote);
color: var(--color-secondary-label);
}
*/

.arstechnica-com .articleBody,
.arstechnica-com ul.gallery {
    font: var(--font-caption1);
    font-family: var(--font-family-caption);
    color: var(--color-secondary-label);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

.arstechnica-com ul.gallery {
    list-style-type: none;
}

.arstechnica-com .articleBody p {
    font: var(--font-body);
    font-family: var(--font-family-body);
    color: var(--color-body);
    font-feature-settings: normal;
    font-variant-numeric: normal;
}

.arstechnica-com .articleBody > :is(div, p):last-child:has(a[href*="comment"]) {
    border-block-start: thin solid var(--color-border);
    color: var(--color-secondary-label);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    margin-block-start: 1em;
    padding-block-start: 1em;
}

.arstechnica-com aside.pullbox {
    background-color: var(--color-pre-background);
    padding: 1em 2ch;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    font-style: italic;
}

.arstechnica-com aside.pullbox :is(em, cite, i) {
    font-style: normal;
}

.arstechnica-com div.image.center {
    text-align: center;
}

.arstechnica-com .ars-newsletter-callbox {
    display: none;
}

.arstechnica-com .right {
    float: right;
    clear: both;
    max-width: 65%;
    margin: 0 0 20px 20px;
}

.linkback i {
    font-style: normal;
}

.macrumors-com .linkback em {
    font-style: normal;
}

.inputmag-com p > u {
    font: var(--font-headline);
    font-family: var(--font-family-headline);
    font-weight: 800;
    letter-spacing: 0.75px;
    text-decoration: none;
    text-transform: uppercase;
}

.inputmag-com blockquote[data-md-text-align="center"] {
    /* pull quote */
    display: block;
    font: var(--font-callout);
    font-family: var(--font-family-callout);
    font-weight: 300;
    font-style: italic;
    text-align: center;
    color: var(--color-secondary-label);
    margin-block: 1em;
    padding-block: 1em;
    padding-inline: inherit;
    border-block: 1px solid var(--color-border);
    border-inline: inherit;
}

.inputmag-com blockquote[data-md-text-align="center"] strong,
blockquote[data-md-text-align="center"] b {
    font-weight: 500;
}

.inputmag-com blockquote[data-md-text-align="center"] em,
blockquote[data-md-text-align="center"] i {
    font-style: normal;
}

/*
.theonion-com .gridible-row img {
    width: 196px !important;
    height: auto !important;
}
*/

.theonion-com .gridible-row blockquote {
    background-color: initial;
    border-inline: none;
    font: var(--font-title1);
    font-stretch: extra-condensed;
    font-weight: 500;
}

.theonion-com .gridible-row blockquote cite strong {
    font: var(--font-caption2);
    font-family: var(--font-family-caption);
    font-stretch: initial;
}

.theonion-com .has-primary-1-color {
    color: var(--color-onion-green);
}

.theonion-com .has-tablet-gothic-semi-condensed-font-family {
    font: var(--font-subheadline);
    font-family: var(--font-family-title);
    font-weight: 700;
    clear: both;
    font-stretch: extra-condensed;
}

.theonion-com .gridible-col__md-4 {
    width: 128px;
    padding-inline: 8px;
}

.theonion-com .has-background {
    background-color: var(--color-blockquote-background);
}

.theonion-com .gridible-row__md-start {
    border: 1px solid var(--color-grid);
}

.theonion-com .gridible-col__md-8 {
    font: var(--font-body);
    color: var(--color-body);
}

.appleinsider-com div[align="center"]:has(> img) {
    margin-block: 1em;
    text-align: inherit;
}

.appleinsider-com div[align="center"] > img {
    display: inline-block;
    margin-inline: auto;
}

.appleinsider-com .articleBody > a[href*="appleinsider.com"]:last-child,
.appleinsider-com .articleBody > * > a[href*="appleinsider.com"]:last-child {
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
}

.appleinsider-com :is(.small, .hero-caption),
.appleinsider-com div > img + br + span {
    font: var(--font-caption1);
    font-family: var(--font-family-caption1);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

.appleinsider-com :is(.gray, .hero-caption),
.appleinsider-com div > img + br + span {
    color: var(--color-secondary-label);
}

.macrumors-com .linkback {
    font-style: italic;
}

.macrumors-com .linkback:first-of-type {
    border-block-start: 1px solid var(--color-border);
    margin-block-start: 1.65em;
    padding-block-start: 1.65em;
}

/* TBD: macrumors-only or generaly useful? */
img + center:has(> em) {
    color: var(--color-secondary-label);
    font: var(--font-caption1);
    font-family: var(--font-family-caption);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

/* copied directly from macrumors.com */
.macrumors-com .fancybutton {
    padding: 15px;
    border-radius: 4px;
    color: #fff;
    text-shadow:
        -1px 1px 0 #696969,
        1px 1px 0 #696969,
        1px -1px 0 #696969,
        -1px -1px 0 #696969;
    font-weight: 700;
    position: relative;
    display: inline-block;
    background-color: #00ad00;
}

.macrumors-com .fancybutton:hover {
    background-color: #009400;
}

.macrumors-com .fancybadge {
    font-weight: 700;
    font-size: 9px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    transform: rotate(-15deg);
    background-color: #b21b1b;
    position: absolute;
    top: -5px;
    left: -15px;
    border-radius: 5px;
    margin-bottom: -18px;
    padding: 0 6px;
}

.macstories-net .aside p {
    text-align: initial;
}

.theverge-com p:has(+ p.p--has-dropcap) {
    font: var(--font-callout);
    font-family: var(--font-family-callout);
    font-style: italic;
    color: var(--color-secondary-label);
    font-weight: 300;
}

/* TBD: theverge only, or global? */
.articleBody p:last-child:has(> small) {
    border-block-start: 1px solid var(--color-border);
    color: var(--color-secondary-label);
    padding-block-start: 0.5em;
}

.minnpost-com p:has(> i:only-child) {
    color: var(--color-secondary-label);
}

.mprnews-org p:last-of-type:has(> em:only-child) {
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    border-block-start: 1px solid var(--color-border);
    color: var(--color-secondary-label);
    padding-block-start: 0.5em;
}

.minnpost-com p:last-of-type:has(em:only-child),
.minnpost-com p:last-of-type:has(i:only-child) {
    border-block-start: 1px solid var(--color-border);
    clear: both;
    color: var(--color-secondary-label);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    padding-block-start: 0.5em;
}

/* TBD: is this useful? */
body:not(.techdirt-com, .badastronomy-substack-com) p:has(> em:only-child > strong:only-child) {
    background-color: var(--color-pre-background);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    color: var(--color-label);
    padding: 8px;
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
}

.bringmethenews-com .articleBody > p:last-of-type:has(> em:only-child, > i:only-child) {
    border-block-start: 1px solid var(--color-border);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    color: var(--color-secondary-label);
}

.minnpost-com p:last-of-type:has(i:only-child > span:only-child) {
    border-block-start: 1px solid var(--color-border);
    clear: both;
    color: var(--color-secondary-label);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    padding-block-start: 0.5em;
}

iframe[src*="video.startribune.com"] {
    border: 0;
    width: 640px;
    aspect-ratio: 16/9;
}

.startribune-com aside.article-share,
.startribune-com .l-article-topper,
.startribune-com .l-article-downpage-left {
    display: none;
}

.startribune-com div.articleBody > p:last-child:has(> em:only-child),
.startribune-com .article-author-contact {
    border-block-start: 1px solid var(--color-border);
    font: var(--font-footnote);
    color: var(--color-secondary-label);
}

.startribune-com .articleBody > p:first-child:has(> strong:first-child + a + em),
.startribune-com .articleBody > p:first-child:has(> strong:first-child + em + a) {
    background-color: var(--color-pre-background);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    color: var(--color-label);
    padding: 8px;
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
}

.startribune-com div.articleBody > h5 + h2 ~ p:last-child:has(> em:only-child) {
    border-block-start: 0;
    font: inherit;
    color: inherit;
}

.startribune-com .articleBody > p:first-child:has(> strong:first-child + a + em) + p,
.startribune-com .articleBody > p:first-child:has(> strong:first-child + em + a + em + a + em) + p {
    display: none;
}

.appleworld-today .articleBody p:last-child:has(a[rel="nofollow"][href*="archive"]) {
    border-block-start: thin solid var(--color-border);
    color: var(--color-secondary-label);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    margin-block-start: 1em;
    padding-block-start: 1em;
}

.startribune-com div.articleBody > p:last-child:has(> a:first-child + em:last-child),
.startribune-com div.articleBody > p:last-child:has(> em:first-child + a + em:last-child) {
    border-block-start: 1px solid var(--color-border);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    color: var(--color-secondary-label);
}

.startribune-com .article-author-headshot-sm {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 1.5em;
}

.startribune-com h5:has(+ h2) {
    border-block-end: 0;
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    font-weight: 500;
}

/*
.startribune-com h5 + h2 {
font: var(--font-title3);
font-family: var(--font-family-title);
}
*/

/* The Verge */
.theverge-com .p--has-dropcap::first-letter,
.theverge-com p.has-drop-cap::first-letter {
    padding-inline-end: 4px;
    initial-letter: 2;
}

.theverge-com .p-large-text {
    font: var(--font-title3);
    font-family: var(--font-family-title);
}

.theverge-com .c-float-left {
    float: left;
    width: calc(50% - 10px);
    margin-right: 10px;
}

.theverge-com .c-float-right {
    float: right;
    width: calc(50% - 10px);
    margin-left: 10px;
}

.theverge-com .p-fullbleed-block,
.theverge-com figure.e-image {
    text-align: center;
}

.theverge-com figure.e-image img {
    width: 100%;
}

.theverge-com :is(aside, div):has(> q:only-child) {
    /* pull quote */
    display: block;
    text-align: center;
    font: var(--font-callout);
    font-family: var(--font-family-callout);
    font-weight: 300;
    font-style: italic;
    color: var(--color-secondary-label);
    border-block: 1px solid var(--color-border);
    margin-block: 1em;
    padding-block: 1em;
}

.theverge-com :is(aside, div) > q:only-child::before,
.theverge-com :is(aside, div) > q:only-child::after {
    /* The Verge adds their own quotes if they want them */
    content: "";
}

.theverge-com :is(aside, div) > q:only-child :is(em, i) {
    font-style: normal;
}

.theverge-com :is(aside, div) > q:only-child :is(strong, b) {
    font-weight: 500;
}

.theverge-com figure cite {
    font: var(--font-caption1);
    font-family: var(--font-family-caption);
    line-height: 1.3em;
    display: block;
}

.theverge-com .c-end-para::after {
    content: " ■";
    font-size: 0.5em;
    color: var(--color-primary-accent);
}

.api-weather-gov .articleBody {
    white-space: pre-line;
    font: var(--font-subheadline);
    font-family: var(--font-family-monospace);
    width: 68ch;
}

:is(.npr-org, .mprnews-org) #bodyContainer *:first-child:is(img) {
    width: 100% !important;
}

.mprnews-org .apm-related-list,
.mprnews-org div:has(> div:first-child + ul:last-child) {
    display: none;
}

.mprnews-org .figure_caption .figure_text,
.npr-org .image_data .caption {
    color: var(--color-label);
}

.mprnews-org .figure_caption .figure_credit,
.npr-org .image_data .credit {
    font: var(--font-caption2);
    font-family: var(--font-family-caption);
    font-style: italic;
}

.npr-org .disclaimer {
    color: var(--color-secondary-label);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
}

.npr-org .disclaimer:not(.disclaimer ~ .disclaimer) {
    padding-block-start: 10px;
    border-block-start: 1px solid var(--color-border);
}

.npr-org .imagewrap + .enlarge_measure {
    display: none;
}

.nytimes-com #fullBleedHeaderContent header,
.nytimes-com article#story header {
    font: var(--font-callout);
    font-family: var(--font-family-callout);
    font-style: italic;
    color: var(--color-secondary-label);
    font-weight: 300;
}

.nytimes-com #fullBleedHeaderContent > div,
.nytimes-com article#story header > div {
    display: none;
}

.nytimes-com article#story header > div:has(figure),
.nytimes-com article#story header > div:nth-of-type(2) {
    /* opacity: 1.0; */
    display: block;
}

.nytimes-com article#story > div:first-child:has(> div > nav),
.nytimes-com article#story #top-wrapper,
.nytimes-com article#story #top-wrapper + div > div:first-child,
.nytimes-com div#NYT_MAIN_CONTENT_2_REGION {
    display: none;

    /* opacity: 0.1; */
}

.bringmethenews-com .subtitle,
.fastmail-blog .intro {
    font: var(--font-callout);
    font-family: var(--font-family-callout);
    font-style: italic;
    color: var(--color-secondary-label);
    font-weight: 300;
}

/* TOO BROAD */

/*
.theverge-com .articleBody > p:last-of-type:has(> em:only-child) {
border-block-start: 1px solid var(--color-border);
clear: both;
color: var(--color-secondary-label);
font: var(--font-footnote);
font-family: var(--font-family-footnote);
padding-block-start: 0.5em;
}
*/

.boingboing-net :is(.next-post-list-container, div.red-box) {
    display: none;
}

p.has-text-align-right,
p.alignright {
    float: none;
    text-align: right;
    margin-block-start: -0.5em;
}

.aligncenter {
    text-align: center;
    margin-inline: auto;
}

img.aligncenter {
    display: block;
}

img.size-full {
    width: 100%;
    height: auto;
}

.alignright,
.float-right {
    float: right;
    margin-block-start: 0;
    margin-left: 10px;
    margin-right: 0;
}

.alignleft,
.float-left {
    float: left;
    margin-block-start: 0;
    margin-left: 0;
    margin-right: 10px;
}

.wp-caption-text {
    text-align: initial;
    font: var(--font-caption1);
    font-family: var(--font-family-caption);
    color: var(--color-secondary-label);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

.bbc-co-uk .gel-pica-bold {
    font-weight: 600;
}

/* .bbc-co-uk .story-body > span.gs-u-display-block, */
.bbc-co-uk article > section:last-child,
.bbc-co-uk [class*="-TopicListWrapper"],
.bbc-co-uk ul:has(.story-body__internal-link),
.bbc-co-uk .visually-hidden {
    display: none;
}

.bringmethenews-com .articleBody > :is(section, iframe) {
    font: var(--font-caption1);
    font-family: var(--font-family-caption);
    color: var(--color-secondary-label);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

.bringmethenews-com blockquote:has(a[href*="mailchi"]) {
    display: none;
}

.bringmethenews-com .articleBody > :not(blockquote) + blockquote:last-child:has(> p:only-child) {
    background-color: var(--color-pre-background);
    padding: 1em 2ch;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
}

.bringmethenews-com p[align="center"] {
    display: none;
}

:is(footer, .articleFooter, div.footnote, #footnotes, .footnotes) blockquote {
    color: var(--color-secondary-label);
}

.twincities-com aside.related {
    display: none;
}

.twincities-com :is(.size-article-inline-half, .size-article_inline_half) {
    width: calc(50% - 10px);
}

.twincities-com :is(.size-article-inline-third, .size-article_inline_third) {
    width: calc(33.3333% - 10px);
}

.twincities-com :is(.size-article-inline-quarter, .size-article_inline_quarter) {
    width: calc(25% - 10px);
}

.twincities-com .article-slideshow :is(button.icon-close, button.mng-gallery-arrow) {
    display: none;
}

.twincities-com .article-slideshow ul {
    padding-inline-start: 0;
}

.ohjoysextoy-com div.ui-tabs ul {
    column-count: 3;
}

.twincities-com .article-slideshow li {
    display: block;
}

.twincities-com .article-slideshow :is(.slide-caption, .slide-credit) {
    color: var(--color-secondary-label);
    font: var(--font-caption1);
    font-family: var(--font-family-caption);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
    margin-block-start: 0.5em;
}

.twincities-com .article-slideshow .slide-credit {
    font: var(--font-caption2);
    font-family: var(--font-family-caption);
    font-style: italic;
}

.twincities-com .article-slideshow div.caption,
.twincities-com .articleBody > h2 ~ ul:last-child {
    display: none;
}

/* TBD: twincities.com only or generally useful */

/* TOO BROAD
p:has(> i:first-child, > i:only-child, > em:only-child) {
font: var(--font-footnote);
font-family: var(--font-family-footnote);
font-style: italic;
color: var(--color-secondary-label);
}
*/

.cidrap-umn-edu .field-name-field-image-thumbnail {
    float: left;
    margin-block-start: 0;
    margin-inline-end: 8px;
}

.cidrap-umn-edu .field-name-field-byline,
.cidrap-umn-edu .field-name-field-date {
    display: none;
}

.cidrap-umn-edu .field-name-field-bullet-points > .field-items {
    display: block;
    list-style-type: disc;
    margin: 1em 0;
    padding-inline-start: 40px;
}

.cidrap-umn-edu .field-name-field-bullet-points > .field-items > .field-item {
    display: list-item;
    text-align: match-parent;
}

.mprnews-org .figure-right {
    float: right;
    margin-left: 10px;
}

.mprnews-org .figure-left {
    float: left;
    margin-right: 10px;
}

.mprnews-org .figure-half {
    width: calc(50% - 10px);
}

.mprnews-org .figure-quarter {
    width: calc(25% - 10px);
}

.mprnews-org .figure-full {
    width: 100%;
    margin-inline: 0 !important;
}

.mprnews-org .articleBody > img:first-child:has(+ figure),
.mprnews-org #bodyContainer > img[src*="media.npr.org"]:first-child {
    display: none;
}

.mprnews-org div.apm-correction {
    background-color: var(--color-pre-background);
    padding: 1em 2ch;
    max-width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
}

.mprnews-org div.apm-correction-title {
    font-weight: 500;
    color: var(--color-label);
    display: inline-block;
}

.mprnews-org div.apm-correction-timestamp {
    font-weight: 300;
    float: right;
    color: var(--color-secondary-label);
    display: inline-block;
}

.mprnews-org figure.figure-full picture :is(source, img) {
    width: 100%;
}

.mprnews-org .apm-gallery .apm-gallery-title {
    font: var(--font-headline);
    font-family: var(--font-family-headline);
    font-weight: 600;
    clear: both;
    color: var(--color-header-text);
    margin-block: 0.25em;
}

.mprnews-org .apm-gallery .apm-gallery-slides .slideshow button {
    display: none;
}

.mprnews-org .apm-gallery .apm-gallery-slides .slideshow-count {
    display: none;
}

.macstories-net .media-wrapper {
    max-width: 100%;
    height: auto !important;
    margin-inline: 0;
}

.macstories-net .image-caption {
    text-align: initial;
    font: var(--font-caption1);
    font-family: var(--font-family-caption1);
    color: var(--color-secondary-label);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

.macstories-net .aside,
.macstories-net .shortcuts-box {
    margin: 1em auto;
    border: 1px solid var(--color-border);
    border-radius: 8px;
    font: var(--font-subheadline);
    font-family: var(--font-family-subheadline);
    padding: 8px;
}

.macstories-net .aside-narrow {
    max-width: 22em;
}

.macstories-net .shortcuts-box {
    max-width: 33em;
}

.macstories-net .media-element-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px;
}

.macstories-net .shortcuts-box .media-element-image {
    max-height: 80px;
}

.macstories-net .media-element-description .title {
    margin-block-start: 0;
}

/*
*
* TOO BROAD. Anything with trailing text -should- be excluded but no CSS selector for that

.mprnews-org p:has(> strong:only-child),
.minnpost-com p:has(> b:only-child) {
font: var(--font-headline);
font-family: var(--font-family-headline);
font-weight: 600;
clear: both;
color: var(--color-header-text);
margin-block-end: .25em;
border-block-end: thin solid var(--color-border);
}

.mprnews-org p:has(> strong:only-child) + *,
.minnpost-com p:has(> b:only-child) + * {
margin-block-start: .25em;
}
*/

.minnpost-com .acm-ad-container {
    display: none;
}

.starwars-com .dplus-promo-container {
    display: none;
}

body.gocomics-com,
body.comicskingdom-com,
body.kingfeatures-com,
body.dieselsweeties-com,
body.garfieldminusgarfield-net,
body.ohjoysextoy-com,
body.smbc-comics-com,
body.theoatmeal-com,
body.xkcd-com {
    max-width: inherit;
}

pre.wp-block-verse {
    white-space: pre-wrap;
}

.ohjoysextoy-com .post-mood {
    display: inline-block;
    float: inline-start;
    margin-inline-end: 16px;
    margin-block-end: 16px;
}

.ohjoysextoy-com li[role="tab"] {
    display: none;
}

.ohjoysextoy-com .post-extras {
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    opacity: 0.75;
}

.talkingpointsmemo-com .is-style-sans-serif {
    font-family: ui-sans-serif;
    color: var(--color-secondary-label);
}

.talkingpointsmemo-com .has-drop-cap::first-letter {
    padding-inline-end: 4px;
    initial-letter: 2;
}

.eclecticlight-co code {
    word-wrap: break-word;
    background-color: inherit;
}

.eclecticlight-co br + code {
    display: block;
    margin-block-start: 0.5em;
}

.cbsnews-com :is(.content__topic-link, aside.recirculation) {
    display: none;
}

.cbsnews-com ul.content__tags {
    padding-inline: 0;

    /* enable "high legibility" in SF font */
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

.cbsnews-com ul.content__tags li {
    display: inline;
    padding-inline: 15px;
    border: 1px solid var(--color-tertiary-label);
    border-radius: 10px;
    background: var(--color-even-alternating-content-background);
}

.cbsnews-com ul.content__tags li:has(a:hover) {
    background: var(--color-odd-alternating-content-background);
}

.cbsnews-com ul.content__tags li :is(a:link, a:hover) {
    color: inherit;
    font-weight: 500;
}

.cbsnews-com ul.content__tags li a:hover {
    text-decoration: none;
}

.cbsnews-com .content-author {
    /* enable "high legibility" in SF font */
    font: var(--font-footnote);
    font-family: var(--font-family-footnote);
    font-feature-settings: "ss06";
    font-variant-numeric: tabular-nums;
}

.cbsnews-com .content-author__bio {
    display: inline-flex;
}

.om-co .wp-block-embed-on-my-om {
    display: none;
}

.vajenda-substack-com .articleBody p.button-wrapper {
    display: none;
}

.vajenda-substack-com .cta-caption {
    /* pull quote */
    display: block;
    text-align: center;
    font: var(--font-callout);
    font-family: var(--font-family-callout);
    font-weight: 300;
    font-style: italic;
    color: var(--color-secondary-label);
    border-block: 1px solid var(--color-border);
    margin-block: 1em;
    padding-block: 1em;
}

.badastronomy-substack-com .subscription-widget-wrap {
    display: none;
}

/* Dark mode-specific */
@media (prefers-color-scheme: dark) {
    :root {
        --color-blockquote-background: rgba(255 255 255 / 5%);
        --color-link: rgb(65 156 255);
        --color-primary-accent: #2d80f1;
        --color-secondary-accent: #5e9ef4;
        --color-onion-green: -apple-system-green;
    }
}

/* iOS-specific */
@supports (-webkit-touch-callout: none) {
    :root {
        --color-even-alternating-content-background: #f4f5f5;
        --color-odd-alternating-content-background: transparent;

        /* fonts */
        --font-body: -apple-system-tall-body;
        --font-headline: -apple-system-headline;
        --font-subheadline: -apple-system-subheadline;
        --font-footnote: -apple-system-footnote;
        --font-caption1: -apple-system-caption1;
        --font-caption2: -apple-system-caption2;
        --font-title0: -apple-system-title0;
        --font-title1: -apple-system-title1;
        --font-title2: -apple-system-title2;
        --font-title3: -apple-system-title3;
        --font-title4: -apple-system-title4; /* big title -- not documented(?) */
        --font-callout: -apple-system-body; /* approximation */
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --color-even-alternating-content-background: #292929;
        }
    }
}

/* macOS-specific */
@supports not (-webkit-touch-callout: none) {
    :root {
        /* these are intentionally reversed */
        --color-even-alternating-content-background: -apple-system-odd-alternating-content-background;
        --color-odd-alternating-content-background: -apple-system-even-alternating-content-background;

        /* the values for .mediumText are default */
        --font-body: normal normal normal normal 16px/24px var(--font-family-body);
        --font-headline: normal normal 500 normal 16px/22px var(--font-family-headline);
        --font-subheadline: normal normal normal normal 15px/22px var(--font-family-subheadline);
        --font-footnote: normal normal normal normal 13px/19px var(--font-family-footnote);
        --font-caption1: normal normal normal normal 12px/15px var(--font-family-caption);
        --font-caption2: normal normal 510 normal 12px/15px var(--font-family-caption);
        --font-title0: normal normal normal normal 33px/41px var(--font-family-title);
        --font-title1: normal normal normal normal 27px/34px var(--font-family-title);
        --font-title2: normal normal normal normal 21px/27px var(--font-family-title);
        --font-title3: normal normal normal normal 19px/26px var(--font-family-title);
        --font-callout: normal normal normal normal 16px/22px var(--font-family-callout);
    }

    .nnwPost article :is(.articleBody, footer) {
        padding-inline-start: 56px;
    }

    .xsmallText {
        --font-body: normal normal normal normal 15px/24px var(--font-family-body);
        --font-headline: normal normal 500 normal 15px/22px var(--font-family-headline);
        --font-subheadline: normal normal normal normal 13px/19px var(--font-family-subheadline);
        --font-footnote: normal normal normal normal 13px/19px var(--font-family-footnote);
        --font-caption1: normal normal normal normal 12px/15px var(--font-family-caption);
        --font-caption2: normal normal 510 normal 12px/15px var(--font-family-caption);
        --font-title0: normal normal normal normal 31px/40px var(--font-family-title);
        --font-title1: normal normal normal normal 25px/33px var(--font-family-title);
        --font-title2: normal normal normal normal 19px/26px var(--font-family-title);
        --font-title3: normal normal normal normal 17px/24px var(--font-family-title);
        --font-callout: normal normal normal normal 14px/20px var(--font-family-callout);
    }

    .smallText {
        --font-body: normal normal normal normal 15px/24px var(--font-family-body);
        --font-headline: normal normal 500 normal 15px/22px var(--font-family-headline);
        --font-subheadline: normal normal normal normal 14px/21px var(--font-family-subheadline);
        --font-footnote: normal normal normal normal 13px/19px var(--font-family-footnote);
        --font-caption1: normal normal normal normal 12px/15px var(--font-family-caption);
        --font-caption2: normal normal 510 normal 12px/15px var(--font-family-caption);
        --font-title0: normal normal normal normal 32px/40px var(--font-family-title);
        --font-title1: normal normal normal normal 26px/33px var(--font-family-title);
        --font-title2: normal normal normal normal 20px/27px var(--font-family-title);
        --font-title3: normal normal normal normal 18px/25px var(--font-family-title);
        --font-callout: normal normal normal normal 15px/22px var(--font-family-callout);
    }

    /*
    .mediumText {
        --font-body: normal normal normal normal 16px/24px var(--font-family-body);
        --font-headline: normal normal 500 normal 16px/22px var(--font-family-headline);
        --font-subheadline: normal normal normal normal 15px/22px var(--font-family-subheadline);
        --font-footnote: normal normal normal normal 13px/19px var(--font-family-footnote);
        --font-caption1: normal normal normal normal 12px/15px var(--font-family-caption);
        --font-caption2: normal normal 510 normal 12px/15px var(--font-family-caption);
        --font-title0: normal normal normal normal 33px/41px var(--font-family-title);
        --font-title1: normal normal normal normal 27px/34px var(--font-family-title);
        --font-title2: normal normal normal normal 21px/27px var(--font-family-title);
        --font-title3: normal normal normal normal 19px/26px var(--font-family-title);
        --font-callout: normal normal normal normal 16px/22px var(--font-family-callout);
    }
    */

    .largeText {
        --font-body: 17px/26px var(--font-family-body);
        --font-headline: 500 17px/24px var(--font-family-headline);
        --font-subheadline: 15px/22px var(--font-family-subheadline);
        --font-footnote: 14px/21px var(--font-family-footnote);
        --font-caption1: 13px/19px var(--font-family-caption);
        --font-caption2: 510 12px/15px var(--font-family-caption);
        --font-title0: 34px/43px var(--font-family-title);
        --font-title1: 28px/35px var(--font-family-title);
        --font-title2: 22px/29px var(--font-family-title);
        --font-title3: 20px/27px var(--font-family-title);
        --font-callout: 16px/23px var(--font-family-callout);
    }

    .xlargeText {
        --font-body: normal normal normal normal 19px/28px var(--font-family-body);
        --font-headline: normal normal 500 normal 19px/26px var(--font-family-headline);
        --font-subheadline: normal normal normal normal 17px/24px var(--font-family-subheadline);
        --font-footnote: normal normal normal normal 15px/22px var(--font-family-footnote);
        --font-caption1: normal normal normal normal 15px/22px var(--font-family-caption);
        --font-caption2: normal normal 510 normal 14px/21px var(--font-family-caption);
        --font-title0: normal normal normal normal 36px/45px var(--font-family-title);
        --font-title1: normal normal normal normal 30px/38px var(--font-family-title);
        --font-title2: normal normal normal normal 24px/31px var(--font-family-title);
        --font-title3: normal normal normal normal 22px/29px var(--font-family-title);
        --font-callout: normal normal normal normal 18px/25px var(--font-family-callout);
    }

    .xxlargeText {
        --font-body: normal normal normal normal 21px/29px var(--font-family-body);
        --font-headline: normal normal 500 normal 21px/27px var(--font-family-headline);
        --font-subheadline: normal normal normal normal 19px/26px var(--font-family-subheadline);
        --font-footnote: normal normal normal normal 17px/24px var(--font-family-footnote);
        --font-caption1: normal normal normal normal 16px/22px var(--font-family-caption);
        --font-caption2: normal normal 510 normal 15px/22px var(--font-family-caption);
        --font-title0: normal normal normal normal 38px/48px var(--font-family-title);
        --font-title1: normal normal normal normal 32px/39px var(--font-family-title);
        --font-title2: normal normal normal normal 26px/33px var(--font-family-title);
        --font-title3: normal normal normal normal 24px/31px var(--font-family-title);
        --font-callout: normal normal normal normal 20px/27px var(--font-family-callout);
    }
}
